[advice]
	detachedHead = false
[core]
	excludesfile = ~/.gitignore.global
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.private
[merge]
	conflictstyle = diff3
[color]
	ui = false
[status]
	branch = true
	short = true
